# Logs & runtime
*.log
storage/logs/*
.phpunit.result.cache

# Environment & auth
.env
.env.*
auth.json

# Laravel / PHP
/vendor
/bootstrap/cache/*
/storage/*.key
/storage/pail

# Frontend / Vite
/node_modules
/public/build
/public/hot
/public/storage
/public/spa

# IDE / Editor
/.idea
/.vscode
/.fleet
/.nova
/.zed
.phpactor.json

# OS-specific
.DS_Store
Thumbs.db
